
.ipynb_checkpoints/wine_quality_assingment-checkpoint.ipynb
.ipynb_checkpoints/wine_quality_analysis_using_linear_regression-checkpoint.ipynb
wine_quality_assingment.ipynb
wine_quality_analysis_using_linear_regression.ipynb
.ipynb_checkpoints/wine_quality_analysis_using_regression-checkpoint.ipynb
